body{
    background-color: black;
    color: white;
    }


/*background colour for nav bar*/
.navbar{
    background-color: #3a5a40;
    padding: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }

/* style for links inside the nav bar */
.navbar a {
    position: relative;
    padding: 10px 20px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.8;
    transition: all 0.3s;
    }
  
/* change color of links on hover */
.navbar a:hover {
    background-color: black;
    color: #f2f2f2;
    font-size: 30px;
    }
  
/* color for the active/current link */
.navbar a.active {
    background-color: black;
    color: #f2f2f2;
    }


